body {
    background-color: rgb(18, 172, 192);
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.card {
    transition: transform 0.4s, box-shadow 0.4s;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #ffffff;
    color: #333333;
}

.card:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

header {
    background-color: #0f8a9e;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

button {
    background-color: #0f8a9e;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0c6d7b;
    transition: all;

}

