{% extends "marketplace/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
</head>
<body>
    <div class="list-group">
        {% for category in categories %}
        <a href="{% url 'category_detail' category.id %}" class="list-group-item list-group-item-action" aria-label="View {{ category.name }}">
            {{ category.name }}
        </a>
        <a href="{% url 'category_detail' 1 %}" class="list-group-item list-group-item-action" aria-label="View NFT Art">
            NFT Art
        </a>
        <a href="{% url 'category_detail' 2 %}" class="list-group-item list-group-item-action" aria-label="View NFT Music">
            NFT Music
        </a>
        <a href="{% url 'category_detail' 3 %}" class="list-group-item list-group-item-action" aria-label="View NFT Collectibles">
            NFT Collectibles
        </a>

        {% endfor %}
    </div>
</body>
</html>
{% endblock %}