{% extends "marketplace/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">NFT List</h2>

    <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ nft.image.url }}" class="card-img-top" alt="{{ nft.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ nft.name }}</h5>
                            <p class="card-text">{{ nft.description|truncatechars:100 }}</p>
                            <p class="text-muted">
                                Price (IRT): {{ nft.price_irt }} <br>
                                Price (Polygon): {{ nft.price_polygon }}
                            </p>
                            <a href="#" class="btn btn-primary">View Info</a>
                        </div>
                    </div>
                </div>
            <p>No NFTs available.</p>
    </div>
</div>
{% endblock %}
